html {
    font-family: 'Reddit Mono', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}

@keyframes gradient {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.animate-gradient {
  animation: gradient 3s cubic-bezier(0.4, 0, 0.2, 1) 1;
  background-size: 140% 140%;
}

@custom-variant dark (&:where(.dark, .dark *));
