---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import KeepInTouch from '../components/keep-in-touch.astro';
import AboutMe from '../components/about-me.astro';
import Socials from '../components/socials.astro';
---

<Layout title="karim, aka Alireza Madani">
    <main class="flex flex-col items-center justify-center">
        <Header />
    </main>
    <div class="flex flex-col items-center">
        <section class="mx-4 sm:mx-0 sm:w-2/3 lg:w-2/4 text-left">
            <AboutMe />
            <section class="mt-8">
                <KeepInTouch />
            </section>
        </section>
        <section class="flex mt-10">
            <Socials />
        </section>
    </div>
</Layout>

<style is:global>
    @import url('../style.css');
</style>

<script>
    fetch('https://api.github.com/users/imkarimkarim')
        .then((res) => {
            if (res.status === 200) {
                return res.json();
            }
        })
        .then((data) => {
            const bio = data.bio;
            const coded = bio.split(',')[1].slice(1);
            document.getElementById('coded').innerText = 'who ' + coded;
        });
</script>
