---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Socials from '../components/socials.astro';
---

<Layout title="karim, internet crawler 🔭">
    <main class="flex flex-col gap-2 h-screen w-full justify-center align-middle">
        <Header />
        <br />
        <Socials />
    </main>
</Layout>

<script>
    fetch('https://api.github-star-counter.workers.dev/user/imkarimkarim')
        .then((res) => {
            return res.json();
        })
        .then((res) => {
            document.getElementById('gh-star-count').innerText = res.stars;
        });
</script>
