---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Socials from '../components/socials.astro';
---

<Layout title="karim, internet crawler 🔭">
    <main class="flex flex-col gap-2 h-screen w-full justify-center align-middle">
        <Header />
        <br />
        <Socials />
    </main>
</Layout>
