<h2 class="text-xl font-bold border-b-2 border-gray-600 mb-3" id="about">About Me</h2>
<p>Hello, I'm Karim, a Front-End Developer with 2 years of experience in the programming field. My expertise is JavaScript and React and I have a good understanding of HTML, CSS, and TypeScript. also familiar with other technologies such as Next.js and Cypress. a quick learner and enjoy taking on new challenges.</p>
