<body class="min-w-full min-h-dvh bg-gradient-to-tl from-slate-100 via-slate-200 to-slate-100 dark:from-[#050709] dark:via-[#050709] dark:to-[#181c25] text-gray-800 dark:text-gray-200 transition-colors animate-gradient">
    <slot />
</body>