---
import { Image } from '@astrojs/image/components';
---

<header class="w-full sm:w-2/3 lg:w-1/2 text-center my-10">
    <h1 class="text-2xl md:text-3xl mx-4 md:mx-2 font-bold gradient-border p-6 md:p-10 font-sans">
        hi<Image class="w-6 h-6 sm:w-8 sm:h-8 inline wave mr-1" width={100} height={100} format={'webp'} src="/emojis/waving-hand.png" alt="waving hand emoji" /> im karim<span class="font-light inline-block text-sm text-gray-400">(aka Alireza Madani)</span>
        <br />
        <div class="my-2"></div>a Front-End Developer<Image class="w-6 h-6 sm:w-8 sm:h-8 inline" width={100} height={100} format={'webp'} src="/emojis/technologist.png" alt="technologist emoji" />
        <br />
        <div id="about"></div>
        <span class="font-extralight text-xs text-gray-400 font-mono" id="coded">...</span>
    </h1>
</header>

<script>
    fetch('https://api.github.com/users/imkarimkarim')
        .then((res) => {
            if (res.status === 200) {
                return res.json();
            }
        })
        .then((data) => {
            const bio = data.bio;
            const coded = bio.split(',')[1].slice(1);
            document.getElementById('coded').innerText = 'who ' + coded;
        });
</script>
