<div>
    keep in touch via: <br />
    <a class="text-[#a993ff] hover:underline" href="mailto:imkarimkarim@pm.me">imkarimkarim@pm.me</a> or <a class="text-[#78d4ff] hover:underline" target="_blank" href="https://t.me/imkarimkarim47">Telegram</a>
</div>
