<section class="flex justify-center">
    <a href="https://github.com/imkarimkarim" target="_blank"><img src="/logos/github.svg" class="invert w-7 h-7 mx-5 ml-0" alt="karims github page" /></a>
    <a href="https://www.linkedin.com/in/imkarimkarim" target="_blank"><img src="/logos/linkedin.svg" class="w-7 h-7 mx-5" alt="karims linkedin profile" /></a>
    <a href="https://www.youtube.com/@imkarimkarim" target="_blank"><img src="/logos/youtube.svg" class="w-7 h-7 mx-5" alt="karims youtube channel" /></a>
</section>
