<div class="full mt-10 mx-4 sm:mx-0 text-center">
    <h4 class="mb-2 pb-1 border-b-2 border-gray-600">🛠️ Weapons of Choice</h4>
    <div class="flex items-center overflow-auto" id="icons">
        <img src="https://img.shields.io/badge/-HTML-E45028?style=flat-square&logo=HTML5&logoColor=white" />
        <img src="https://img.shields.io/badge/-CSS-2862E9?style=flat-square&logo=CSS3&logoColor=white" />
        <img src="https://img.shields.io/badge/-Tailwind-0A1020?style=flat-square&logo=tailwindcss&logoColor=30A1D6" />
        <img src="https://img.shields.io/badge/-JavaScript-F7DF1D?style=flat-square&logo=JavaScript&logoColor=black" />
        <img src="https://img.shields.io/badge/-TypeScript-3178C6?style=flat-square&logo=TypeScript&logoColor=white" />
        <img src="https://img.shields.io/badge/-React-20232A?style=flat-square&logo=React&logoColor=61DAFB" />
        <img src="https://img.shields.io/badge/-MUI-001E3C?style=flat-square&logo=MUI&logoColor=007FFF" />
        <img src="https://img.shields.io/badge/-Next.js-000000?style=flat-square&logo=Next.js&logoColor=white" />
        <img src="https://img.shields.io/badge/-Astro-1A183A?style=flat-square&logo=Astro&logoColor=9333EA" />
        <img src="https://img.shields.io/badge/-PocketBase-ffffff?style=flat-square&logo=PocketBase&logoColor=000000" />
        <img src="https://img.shields.io/badge/-Node.js-588255?style=flat-square&logo=Node.js&logoColor=000000" />
        <img src="https://img.shields.io/badge/-Electron-272a37?style=flat-square&logo=Electron&logoColor=white" />
        <img src="https://img.shields.io/badge/-Cypress-1B1E2E?style=flat-square&logo=Cypress&logoColor=6FD5AA" />
        <span class="text-gray-400 font-mono text-xs">and more...</span>
    </div>
</div>

<style>
    img {
        margin-right: 0.2rem;
    }


    #icons::-webkit-scrollbar {
        height: 0.3em;
    }

    #icons::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    #icons::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: #232937;
    }
</style>
