<section class='flex justify-center gap-8 m-4 mt-5'>
	<a title='apps' href='/apps'
	><img src='/logos/joystick.png' class='w-7 h-7' alt='apps created by karim' /></a>
	<a title='open-source projects' href='https://github.com/imkarimkarim' target='_blank'
		><img src='/logos/github.svg' class='dark:invert w-7 h-7' alt='GitHub logo' /></a>
	<a title='YouTube channel' href='https://www.youtube.com/@imkarimkarim' target='_blank'
	><img src='/logos/youtube.svg' class='w-7 h-7' alt='YouTube logo' /></a>
	<a title='Linkedin' href='https://www.linkedin.com/in/imkarimkarim/' target='_blank'
	><img src='/logos/linkedin.svg' class='w-7 h-7' alt='LinkedIn logo'/></a>
</section>
