<section class='flex justify-center gap-8'>
	<a title='Linkedin' href='https://linkedin.com/imkarimkarim' target='_blank'
	><img src='/logos/linkedin.svg' class='w-7 h-7' alt='karims X(twitter) account' /></a>
	<a title='open-source projects' href='https://github.com/imkarimkarim' target='_blank'
		><img src='/logos/github.svg' class='dark:invert w-7 h-7' alt='karims github page' /></a>
	<a title='YouTube channel' href='https://www.youtube.com/@imkarimkarim' target='_blank'
	><img src='/logos/youtube.svg' class='w-7 h-7' alt='karims youtube channel' /></a>
</section>
